<!DOCTYPE html>
<html>
<head>
    <title>Détails de la Pompe</title>
</head>
<body>
    <h1>Détails de la Pompe</h1>
    <p><strong>Type:</strong> {{ pompe.type }}</p>
    <p><strong>Modèle:</strong> {{ pompe.model }}</p>
    <p><strong>Lié à la Cuve:</strong> {{ pompe.id_cuve }}</p>
    <p><strong>Lié au Pompiste:</strong> {{ pompe.id_pompiste }}</p>

    <a href="{% url 'pompe_update' pompe.pk %}">Modifier</a>
    <a href="{% url 'pompe_delete' pompe.pk %}">Supprimer</a>
    <a href="{% url 'pompe_list' %}">Retour à la liste des Pompes</a>
</body>
</html>
