<!DOCTYPE html>
<html>
<head>
    <title>{% if action == "Create" %}Create Pompiste{% else %}Update Pompiste{% endif %}</title>
</head>
<body>
    <h1>{% if action == "Create" %}Create Pompiste{% else %}Update Pompiste{% endif %}</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% if action == 'Create' %}Create{% else %}Update{% endif %} Pompiste">
    </form>

    <a href="{% url 'pompiste_list' %}">Back to Pompiste List</a>
</body>
</html>
