{% comment %} <!DOCTYPE html>
<html>
<head>
    <title>{% block title %}gestiondestation{% endblock %}</title>
    
</head>
<body>
    <header>
        <nav>
            <ul>

                {% if request.user.profile.role == 'admin' %}
    
                {% elif request.user.profile.role == 'responsable' %}
                <li><a href="{% url 'cuve:cuve_list' %}">Cuve List</a></li>
                <li><a href="{% url 'pompe:pompe_list' %}">Pompe List</a></li>
                {% elif request.user.profile.role == 'pompiste' %}
                
                {% endif %}
                
                <li><a href="{% url 'station:station_list' %}">Station List</a></li>
                <li><a href="{% url 'station:station_create' %}">Add Station</a></li>
                
                <li><a href="{% url 'cuve:cuve_create' %}">Add Cuve</a></li>
                
                <li><a href="{% url 'pompe:pompe_create' %}">Add Pompe</a></li>
                <li><a href="{% url 'pompiste:pompiste_list' %}">Pompiste List</a></li>
                <li><a href="{% url 'pompiste:pompiste_create' %}">Add Pompiste</a></li>
                <a href="{% url 'vents:create_vente' %}">Create New Vente</a>

            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- The content for each specific page (e.g., station list, cuve list) will go here when those pages extend this template. -->
        {% endblock %}
    </main>

    <footer>
        &copy; 2023 gestiondestation @supnum.mr
    </footer>
</body>
</html> {% endcomment %}
