<!DOCTYPE html>
<html>
<head>
    <title>Liste des Pompes</title>
</head>
<body>

{% extends 'base.html' %}

{% block title %}Liste des Pompes{% endblock %}

{% block content %}
    <h1>Liste des Pompes</h1>
    {% if pompes %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Modèle</th>
               
            </tr>
        </thead>
        <tbody>
            {% for pompe in pompes %}
                <tr>
                    <td>{{ pompe.id }}</td>
                    <td>{{ pompe.type }}</td>
                    <td>{{ pompe.modele }}</td>
                  
                    <td>
                       
                        <a href="{% url 'pompe:pompe_update' pompe.pk %}">Edit</a>
                        <td>
                            <!-- Other actions -->
                            <form action="{% url 'pompe:pompe_deactivate' pompe.pk %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" style="background: none; border: none; padding: 0; color: blue; text-decoration: underline; cursor: pointer;">
                                    Deactivate
                                </button>
                            </form>
                        </td>
                    </td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Aucune pompe n'a été trouvée.</p>
    {% endif %}
    <a href="{% url 'pompe:pompe_create' %}">Ajouter une nouvelle Pompe</a>
{% endblock %}

</body>
</html>
